/* BODY */
*, body {
  box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-family: "Nunito";
	color: #4c4c4c;
	background: #f8f9fa;
    padding: 0;
    margin: 0px;
}
.content-wrap {
	min-height: 100%;
	padding-bottom: 100px;
}
.content {
    padding: 0px 150px;
}
#footer {
	text-align: center;
	margin-top: -60px;
	height: 55px;
}

/* MAIN ELEMENTS */
.row {
	position: relative;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.col-1 {width: 8.3%;}
.col-2 {width: 16.6%;}
.col-3 {width: 25%;}
.col-4 {width: 33.3%;}
.col-5 {width: 41.6%;}
.col-6 { width: 50%; }
.col-7 {width: 58.4%;}
.col-8 {width: 66.6%;}
.col-9 { width: 75%;}
.col-10 {width: 83.3%;}
.col-11 {width: 91.6%;}
.col-12 {width: 100%;}


/* IMAGES */
.img-container {
    padding: 0px;
	right: 0px;
	height: 100%;
	position: absolute;
	border: 1px solid #000;
}
img {
	width: 100%;
	display: block;
	max-height: 100%;
}
img.center {
	max-height: 100%;
	position: absolute;
	display: block;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* TEXT STYLING */
/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: "Karla";
	padding: 0px;
	margin: 0px;
}
h1.muted, h2.muted, h3.muted, h4.muted, h5.muted, h6.muted {
    font-weight: lighter;
    color: #777777;
}
h1 {font-size: 2.2em; margin: 20px 0px;}
h2 {font-size: 1.6em;}

/* Links */
a {
	color: #007efa;
	text-decoration: none;
}
a:hover { text-decoration: underline; cursor: pointer;}
a i { margin-right: 10px; }

/* Sizes */
span.fine {
	font-size: 0.8em;
	color: #777777;
}
span.large {font-size: 1.2em;}

/* Colors */
span.green {color: 	#03D565;}
span.red {color: #EB5157;}

/* Labels */
label {
    font-size: 0.85em;
    font-weight: bold;
}

/* ICONS */
i.block, i.block-large {
	background: #ffc937;
	color: #fff;
}
i.block {
	padding: 8px;
	font-size: 1.5em;
}
i.block-large {
	font-size: 2em;
	padding: 16px;
}
i.clickable {
	color: rgba(0,0,0,0.3);
}
i.clickable:hover {
	cursor: pointer;
	color: rgba(0,0,0,0.5);
}

/* HOME PAGE */
#bg-row {
	background: #fff;
	width: 100%;
	box-sizing: content-box;
	padding: 0px 150px;
	padding-bottom: 40px !important;
	margin-left: -150px;
}
#home-row img {
	margin-top: 8px;
	padding: 10px;
	border: 10px solid rgba(0,126,250,0.5);
}

/* BUTTONS */
button, input[type=submit] {
    font-family: inherit;
	font-size: 0.9em;
	padding: 14px 35px;
	border-radius: 5px;
    transition: background 0.3s;
    margin-top: 5px;
}
button:active, button:focus, input[type=submit]:focus, input[type=submit]:active { outline: none; }
button:hover, input[type=submit]:hover { cursor: pointer; }
button i {margin-right: 5px;}

/* Fill button */
button.button-fill, input[type=submit] {
	background: #007efa;
	color: #fff;
	border: 1px solid #007efa;
}
button.button-fill:active, input[type=submit]:active { background: #3399ff; border: 1px solid #007efa;}
button.button-fill:hover, input[type=submit]:hover { box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);}

/* Colors */
button.green, input[type=submit].green {background: #03D565; border: 1px solid #03D565;}
button.green:active, input[type=submit].green:active {background: #0efb7d; border: 1px solid #0efb7d;;}
button.yellow, input[type=submit].yellow {background: #F5B400; border: 1px solid #F5B400;}
button.yellow:active, input[type=submit].yellow:active {background: #FFC933; border: 1px solid #FFC933;}

/* Outline button */
button.button-outline {
	background: none;
	border: 1px solid #007efa;
	color:  #007efa;
    font-weight: 600;
}
button.button-outline:hover {background: rgba(0,0,0,0.05);}
button.button-outline:active {background: rgba(0, 126, 250, 0.1);}

/* Sizes */
button.small, input[type=submit].small {
	font-size: 0.8em;
	padding: 8px 12px;
}
button.large, input[type=submit].large {
	font-size: 1.1em;
	/*padding: 14px 35px;*/
	padding: 20px 55px;
}
button.block, input[type=submit].block {
	width: 100%;
}

/* Spacing */
.spaced {margin: 4px 0px;}

/* NAVIGATION */
nav ul {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
nav ul li {
	display: inline-block;
	padding: 0px 5px;
}
nav ul li:hover {cursor: pointer;}

/* Menu bar */
nav.menu {
	background: #007efa;
	color: #fff;
	min-height: 60px;
	padding: 15px 30px;
	font-weight: bold;
}
nav.menu img {
	display: inline-block;
	height: 30px;
	width: auto;
}
.nav-brand {
    font-family: "Unica One";
	display: inline-block;
	font-size: 1.5em;
}
nav.menu ul {font-size: 0.8em; float: right; margin-top: 4px;}
nav.menu ul li {
    color: rgba(255,255,255,0.7);
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: boldform
}
nav.menu ul li:hover {color: rgba(255,255,255,0.9);}
nav.menu ul li.active {color: rgba(255,255,255,1);}
nav.menu ul li.active:hover {
	color: rgba(255,255,255,1);
	cursor: default;
}

/* Toggle menu bar */
.nav-toggle {
	display: none;
	float: right;
	font-size: 1em;
}
.nav-toggle:hover {
	cursor: pointer;
}

/* FLASHCARD CONTAINER */
.flashcard-container {
	width: 100%;
	text-align: center;
}
.flashcard-container .row {
	max-width: 950px;
	display: inline-block;
	width: 100%;
	text-align: left;
}

/* FORM ELEMENTS */
input[type=submit] {
    margin-top: 15px;
    margin-bottom: 2px;
}
form label {
	display: block;
	padding: 5px 0px;
    margin-top: 10px;
}
input[type=text], input[type=password], input[type=email], textarea, span.textarea {
    font-family: inherit;
    color: inherit;
	width: 100%;
	padding: 10px;
	border: 2px solid rgba(119,119,119,0.25);
    background: #f8f9fa;
	font-size: inherit;
	border-radius: 8px;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
    outline: none;
	border: 2px solid rgba(0, 126, 250, 0.6);
}
input[type=text].valid {border: 2px solid rgba(2, 214, 101, 0.6);}
input[type=text].invalid, input[type=password].invalid {
    border: 2px solid rgba(234, 82, 86, 0.6) !important;
}
::placeholder {
	color: rgba(0,0,0,0.25);
    font-weight: bold;
}
textarea {
    resize: none;
    height: 50px;
    overflow: hidden;
	padding: 10px 11px !important;
}
#pseudo-div {
	border: 1px solid #000;
	display: inline-block;
	overflow-wrap: break-word;
	visibility: hidden;
	position: absolute;
}

/* Checkbox */
.container {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 24px;
    margin-top: 15px;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    background: #f8f9fa;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    border: 2px solid rgba(119,119,119,0.4);
}
.container input:checked ~ .checkmark {
    background: rgba(0, 126, 250, 1);
    border: none;
}
.container .checkmark:after {
    display: none;
    content: "";
    position: absolute;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    top: 1px;
    left: 5px;
    height: 8px;
    width: 4px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.container input:checked ~ .checkmark:after {
    display: block;
}

/* ALERTS */
#alert-container {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	transition: background 0.8s;
	padding-top: 64px !important;
	padding: 10px;
	z-index: 1000;
	text-align: center;
}
.alert, .pop-up {
	background: #fff;
	position: relative;
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
	padding: 0px;
	border-radius: 5px;
}
.alert {
	overflow: hidden;
	display: inline-block;
	text-align: left;
}
.alert-static {
	width: 70%;
	max-width: 900px;
}
.alert table td:last-child {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 16px;
	padding-right: 40px !important;
}
/* Alert icons */
.alert i {
	display: inline-block;
	font-size: 1.2em;
}
.alert table td:first-child {
	width: 50px;
	text-align: center;
}

/* Types of alerts */ 
.alert-error td:first-child {
	background: rgba(235, 81, 87, 0.3);
	color: rgba(235, 81, 87, 1);
}
.alert-error a {color: #eb5157;}
.alert-warning td:first-child {
	background: rgba(255, 201, 55, 0.3);
	color: rgba(255, 201, 55, 1);
}
.alert-warning a {color: #FFC31F;}
.alert-info td:first-child {
	background: rgba(0, 126, 250, 0.3);
	color: rgba(0, 126, 250, 1);
}
.alert-success td:first-child  {
	background: rgba(3, 213, 101, 0.3);
	color: rgba(3, 213, 101, 1);
}
.alert-success a {color: #03D565;}

/* Pop-ups */
.pop-up-container {
	position: absolute;
	width: 100%;
	left: 0px;
	text-align: center;
	padding: 10px 20px;
}
.pop-up {
	padding: 40px;
	width: 100%;
	max-width: 1000px;
	display: inline-block;
	text-align: left;
}
.pop-up table td:last-child {
	width: 40%;
	display: none;
}
.img-contain {
	padding-left: 30px;
	position: absolute;
	margin-left: 50%;
	width: 50%;
	bottom: 0px;
}
.img-contain img {display: block; margin-bottom: 10px;}
.pop-up table td:last-child img {max-height: 150px;}
.pop-up table td {vertical-align: bottom;}

/* Success message */
.message-green {
	background: rgba(3, 213, 101, 0.3);
	border: 1px solid rgba(3, 213, 101, 1);
	color: #027939;
	margin-bottom: 40px;
	border-radius: 4px;
}
.message-green i {
	margin-right: 8px;
	margin-top: 2px;
	color: rgba(2,121,57,0.5);
	font-size: 1em;
}

/* Exit button */
.exit {
    position: absolute;
	right: 10px;
	top: 10px;
}

/* PROGRESS */
/* Progress bars */
.progress {
	background: rgba(0,0,0,0.1);
	height: 20px;
	border-radius: 3px;
	overflow: hidden;
}
.progress-fill {
	background: #007efa;
	height: 100%;
}
.progress-fill-red {background: #EB5157;}
.progress-fill-green {background: #03D565;}

/* Progress dots */
.progress-dots {
	text-align: center;
	margin-top: 25px;
	margin-left: 5%;
	margin-right: 5%;
}
/* Note: each dot takes up 32px of space */
.progress-dot {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	margin: 0px 4px;
	background: #C2E0FF;
	display: inline-block;
	transition: background 0.3s;
}
.dot-fill {
	background: #007EFA;
}

/* CARDS */
.card {
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
	background: #fff;
	border-radius: 5px;
	padding: 10px 15px;
	overflow: hidden;
    margin: 10px 0px;
}
.card-header {
	width: 100%;
	box-sizing: content-box;
	padding: 5px 15px;
	margin: -10px 0 5px -15px;
	background: #007efa;
	color: #fff;
}
.card-header-grey {background: rgba(0,0,0,0.2); color: #4c4c4c;}


/* TABLES */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
td {
    padding: 0px 5px;
    padding-top: 5px;
}
td:first-child { padding-left: 0px !important;}
td:last-child { padding-right: 0px !important;}

/* Card table */
table.card-table tr {border-bottom: 2px solid rgba(0,0,0,0.1);}
table.card-table td:first-child {font-weight: bold; width: 70px;}

/* Specific tables */
/* Create deck */
table.create-table td:last-child {width: 30px;}

/* View decks */
table.view-decks tr:first-child {
	border-top: 2px solid rgba(0,0,0,0.1);
}
table.view-decks button {
	margin: 0px;
	margin-bottom: 5px;
}
table.view-decks td:first-child {
	overflow-wrap: anywhere;
	width: 30%;
}
table.view-decks td:last-child {
	width: 200px;
	text-align: right;
}

/* Progess */
#progress-table {font-weight: bold;}


/* CREATE A DECK BUTTONS */
.create-buttons {
    display: inline-block;
    float: right;
}
.create-buttons input[type=submit] {
	margin-top: 5px !important;
}

/* STUDY STYLING */
.end-study, .end-round {display: none ;}
#back:hover {cursor: pointer;}

/* TEXTAREA TOGGLE */
.textarea-container {
    position: relative;
}
.textarea-container textarea:focus ~ span.textarea {
    display: none;
}
span.textarea {
    font-weight: normal;
    display: block;
    height: 50px;
    z-index: 100;
    position: absolute;
	padding: 10px 11px !important;
    top: 0px;
    user-select: none;
	overflow-wrap: break-word;
}
span.textarea-clear {
	opacity: 0;
}

/* FLASHCARDS */
#card {
  height: 350px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
#card:hover {
    cursor: pointer;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.front {
  z-index: 2;
}
.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.text {
	font-size: 1.5em;
	width: 70%;
    position: absolute;
	text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FLASHCARD BUTTONS */
.button-container {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.button-container button {
	border: none;
	width: 50%;
	border-radius: 0px;
	font-weight: bold;
}
.button-container button:hover {
	box-shadow: none !important;
}
button.button-wrong {
	color: rgba(255,255,255,0.7);
	background: #EB5157;
}
button.button-wrong:hover {
	background: #E7363C;
}
button.button-correct {
	color: rgba(255,255,255,0.9);
	background: #03D565;
}
button.button-correct:hover {
	background: #03C95F;
}

/* RESPONSIVE */
/* Medium devices (landscape tablets) */
@media only screen and (max-width: 992px) {
    .content {padding: 0px 20px;}
    #bg-row {padding: 0px 20px; margin-left: -20px;}
}

/* Pop-ups */
@media only screen and (max-width: 900px) and (min-width: 700px) {
	/* Submit button fills entire pop-up */
	.pop-up input[type=submit] {box-sizing: content-box; padding: 14px 10px !important; width: 200%; }
}

@media only screen and (max-width: 900px) {
	/* Remove padding from image */
	.pop-up .img-contain {padding-left: 0px;}
	
	/* Image higher to make space for submit button + max size */
	.pop-up .img-contain img {margin-bottom: 100px; max-height: 320px;}
	.pop-up .img-login img {max-height: 270px;} /* Login slightly smaller */
}

@media only screen and (max-width: 700px) {
	/* In login pop-up width ratios change slightly */
	.pop-up-login .col-6:first-child {width: 58.4%;}
	.img-login {width: 41%; margin-left: 59%;}
	
	/* Form takes up whole space */
	.pop-up .col-6:first-child {width: 100% !important;}
	
	/* Img max height */
	.pop-up .img-contain img {max-height: 250px;}
	
	/* Form entries make space for image */
	.pop-up input[type=text], .pop-up input[type=password] {width: 45%;}
	.pop-up span.red {width: 45%; display: block; margin-bottom: -12px;}
	.pop-up-login input[type=text], .pop-up-login input[type=password] {width: 55%;}
	.pop-up-login span.red {width: 55%;}

	.message-green {margin-bottom: 10px;}
}

@media only screen and (max-width: 600px) {
	/* Hide large image */
	.pop-up .img-contain {display: none;}
	
	/* Input back to original size */
	.pop-up input[type=text], .pop-up input[type=password] {width: 100%;}
	
	/* Display small image */
	.pop-up table td:last-child {display: table-cell;}
}

/* Super small: hide all images */
@media only screen and (max-width: 500px) {
	.pop-up table td:last-child {display: none;}
}

/* Other */

/* Small devices (portrait tablets and large phones) */
@media only screen and (max-width: 768px) {    
    /* Menu */
    .nav-toggle {display: inline-block;}
    nav.menu ul {display: block; width: 100%; float: none; margin: 0px; padding: 0px; display: none;}
    nav.menu li {display: block; padding-left: 0px !important; padding: 8px 0px;}

	/* Alerts */
	.alert-static {width: 90%;}
	.text { width: 85%;}
	
}
@media only screen and (max-width: 720px) {
	#home-row [class*="col-"] { width: 100%; }
}
/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
	.create-buttons {
		display: block;
		float: none;
	}
	#add_card {width: 100%;}
	.create-buttons input[type=submit] {
		display: block;
		width: 100%;
	}
	.placeholder {display: none;}
    [class*="col-"] { width: 100%; }
}
